<center>
	<pre>
	
  _____            _       _____  _    _ _____  
 |  __ \          | |     |  __ \| |  | |  __ \ 
 | |__) |_ _ _   _| | __ _| |__) | |__| | |__) |
 |  ___/ _` | | | | |/ _` |  ___/|  __  |  ___/ 
 | |  | (_| | |_| | | (_| | |    | |  | | |     
 |_|   \__,_|\__,_|_|\__,_|_|    |_|  |_|_|     
                                                
                                                
	
</pre>
	
</center>

<div style="width:90%;margin:0 auto;">
	
	<h3>Welcome to Paula PHP framework Docs!</h3>
	<p>
		<b><i>Table of contents:</i></b>
	</p>
	<ol>
		<li>How it works?</li>
		<li>Configuration</li>
		<li>Controllers</li>
		<li>Models</li>
		<li>Helpers</li>
		<li>Credits</li>
	</ol>
	<br><br>
	<h2>1.How it works?</h2>
	<div style="max-width:600px;">
		<p>
		Paula is simple PHP framework which utilizes MVC pattern along with Helpers and Extensions to make
		web development as simple as possible. For routing, Paula uses /class/method/var/var/var/var system. 
		More info on how to properly use this routing system, please check the Controllers section.
	</p>
	</div>
		<br><br>
			<h2>1.Configuration</h2>
	<div style="max-width:600px;">
		<p>
		Configuration file can be located in /app/Config/app.php. Here you can edit few options for your web application.
		<br><br>
		<b>	$localhost = true/false</b><br>
		Use this variable to define if your app si running under some directory, this is ussual on localhosts. If set to true,
		Framework will cut off pieces of URL request, by number of your sub folders, this number can be defined in next variable which is:<br><br>
		<b>$local_folder = number of sub folders</b><br><br>
		Example:<br>
		If our app's root is located in  <i>localhost/myapp</i>, we have to set $localhost = true and $local_folder = 1. Otherwise if $localhost = false,
		Paula will recognize 'myapp' as class and can return error.
		</p><br><br>
		<b>$debug = true/false</b><br>
		Use this variable to define if you want to see the debug screen with full-lenght error, if set to false, custom error will be returned.
		To define this custom error, we have to use <br><br><b>$custom_error_page = 'name of error file.php'</b> (must be located in app/Views/myfile.php')
		
	</div>
		<br><br>
		
	<h2>3.Controllers</h2>
	<div style="max-width:600px;">
		<p>
		To create a route of your web application, you have to create a controller file which contains class 
		with same name as your controller file. As an example we can use route /news. <br> To create /news route
		we must create a controller file 'news.php' with class 'news' which extends BaseController under /app/Controllers/ . Now we have 
		created our first controller file! yay ^_^. Now we must define methods of this controller, if we want to use
		route /news, we must define index()  method of this controller, which will contain the controller logic.
		If we want to use /news/{variable}, we must define index($args) method, please note that index() cant co-exist with index($args).
		Going on if we want to use /news/show/, we must define show() method, and if we want to use /news/show/{variable}/{variable 2}/{variable 3},
		we must define show($args) <br><br>
		
		So now we have our news controller ready for our users. To display view from any controller, use: <br><br><b>$this->view->load('name of view')</b><br><br>
		To pass variable to view we have to use <br><br><b>$this->view->variablename = variable value</b><br><br>
		
		To handle what happens when user comes to www.example.com, that means no class is set, we have our IndexController.php file in /app/Controllers/ .
		We must again define index() or index($args) with our controller logic to handle user request.<br><br>
		
				</p>
	</div>


		<h2>4.Models</h2>
	<div style="max-width:600px;">
		<p>
		Models are used to handle database operations, to define a model we must create a file under app/Models with its name, containing class with same name as file.
		If we want to use model index_model, we have to create index_model.php file in app/Models/ with class index_model which extends BaseModel class, now we can define our
		own model functions. To work with database we can use following functions:
		<br><br>
		<b>$this->model->connect(dbhost,dbuser,dbpass, dbname);</b>
		<br><br>
		<b>$this->model->table(tablename);</b>
		<br><br>
		<b>$this->model->where(something,operator,something);</b>
		<br><br>
		<b>$this->model->get();</b>
		<br><br>
		<b>$this->model->pluck('collumn name');</b><br><br>
		
		Lets talk a bit more about usage of models inside of controllers, if we have a controller and we want to retrieve data via model, we must at first load desired model into our controller<br><br>
		<br><br>
		<b>$this->model->load('name of model');</b><br><br>
		Now we can call functions of our model like this:<br><br>
		<b>$this->model->our model name->ourfunction()</b><br><br>
		
		If query returns without any errors, its result can be accessed via
		<br><br>
		<b>$this->model->our model name->result</b><br><br> 
		We can pass our result to view:<br><br>
		<b>$this->view->mydbresult = $this->model->our model name->result</b>
		
				</p>
	</div>
	
			<h2>5.Helpers</h2>
	<div style="max-width:600px;">
		<p>
		Helpers are basically functions used to help out with frequent. For example retrieving an URL of our host. Helpers can be used in Controllers.
			<br><br>
		<b>$this->helpers->url()</b>
		<br><br>
	
		
				</p>
	</div>
	
			<h2>6.Credits</h2>
	<div style="max-width:600px;">
		<p>
		<h4>Special thanks to Matej Sima a.k.a. Maht0rz for being so awesome developer!</h4>
	
		
				</p>
	</div>
</div>

